In [2]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import re

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

C:\Users\karin\AppData\Local\Temp\ipykernel_1708\1922032468.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Abrimos el csv del anterior pair programming
df_world = pd.read_csv('df_world_full.csv')
df_world.head()

,Unnamed: 0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

In [4]:
df_world.dtypes

Unnamed: 0                              int64
country                                object
density                                object
abbreviation                           object
agriculturalland                      float64
landarea                               object
armedforcessize                        object
birthrate                             float64
callingcode                           float64
capital/majorcity                      object
co2-emissions                          object
cpi                                    object
cpichange                             float64
currency-code                          object
fertilityrate                         float64
forestedarea                          float64
gasolineprice                         float64
gdp                                    object
grossprimaryeducationenrollment       float64
grosstertiaryeducationenrollment      float64
infantmortality                       float64
largestcity                            object
lifeexpectancy                        float64
maternalmortalityratio                float64
minimumwage                           float64
officiallanguage                       object
outofpockethealthexpenditure          float64
physiciansperthousand                 float64
population                             object
population:laborforceparticipation    float64
taxrevenue                            float64
totaltaxrate                          float64
unemploymentrate                      float64
urban_population                       object
latitud                                object
longitud                              float64
dtype: object

# Pair programming Agrupación de Datos y Método apply

## Ejercicios apply

Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [5]:
lista_colum = ['landarea', 'armedforcessize', 'co2-emissions', 'gdp', 'population', 'urban_population', 'latitud', 'longitud', 'density', 'cpi']
def cambio_datos(cadena):

    try: 
        #cadena = cadena.replace(',','').strip()
        return float(cadena.replace(',','').strip())
    
    except:
        
        return np.nan

In [6]:
for col in lista_colum:
    df_world[col] = df_world[col].apply(cambio_datos)

In [7]:
df_world.head()

,Unnamed: 0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,NaN
1,1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,NaN
2,2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,NaN
3,3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,NaN
4,4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,NaN

In [9]:
print(df_world['country'].to_string())

0                           Afghanistan
1                               Albania
2                               Algeria
3                               Andorra
4                                Angola
5                   Antigua and Barbuda
6                             Argentina
7                               Armenia
8                             Australia
9                               Austria
10                           Azerbaijan
11                          The Bahamas
12                              Bahrain
13                           Bangladesh
14                             Barbados
15                              Belarus
16                              Belgium
17                               Belize
18                                Benin
19                               Bhutan
20                              Bolivia
21               Bosnia and Herzegovina
22                             Botswana
23                               Brazil
24                               Brunei
25                             Bulgaria
26                         Burkina Faso
27                              Burundi
28                          Ivory Coast
29                           Cape Verde
30                             Cambodia
31                             Cameroon
32                               Canada
33             Central African Republic
34                                 Chad
35                                Chile
36                                China
37                             Colombia
38                              Comoros
39                Republic of the Congo
40                           Costa Rica
41                              Croatia
42                                 Cuba
43                               Cyprus
44                       Czech Republic
45     Democratic Republic of the Congo
46                              Denmark
47                             Djibouti
48                             Dominica
49                   Dominican Republic
50                              Ecuador
51                                Egypt
52                          El Salvador
53                    Equatorial Guinea
54                              Eritrea
55                              Estonia
56                             Eswatini
57                             Ethiopia
58                                 Fiji
59                              Finland
60                               France
61                                Gabon
62                           The Gambia
63                              Georgia
64                              Germany
65                                Ghana
66                               Greece
67                              Grenada
68                            Guatemala
69                               Guinea
70                        Guinea-Bissau
71                               Guyana
72                                Haiti
73                         Vatican City
74                             Honduras
75                              Hungary
76                              Iceland
77                                India
78                            Indonesia
79                                 Iran
80                                 Iraq
81                  Republic of Ireland
82                               Israel
83                                Italy
84                              Jamaica
85                                Japan
86                               Jordan
87                           Kazakhstan
88                                Kenya
89                             Kiribati
90                               Kuwait
91                           Kyrgyzstan
92                                 Laos
93                               Latvia
94                              Lebanon
95                              Lesotho
96                              Liberia
97                                Libya
98                        Liechtenstein
99                            Lithuania
100                          Luxembourg
101                          Madagascar
102                              Malawi
103                            Malaysia
104                            Maldives
105                                Mali
106                               Malta
107                    Marshall Islands
108                          Mauritania
109                           Mauritius
110                              Mexico
111      Federated States of Micronesia
112                             Moldova
113                              Monaco
114                            Mongolia
115                          Montenegro
116                             Morocco
117                          Mozambique
118                             Myanmar
119                             Namibia
120                               Nauru
121                               Nepal
122                         Netherlands
123                         New Zealand
124                           Nicaragua
125                               Niger
126                             Nigeria
127                         North Korea
128                     North Macedonia
129                              Norway
130                                Oman
131                            Pakistan
132                               Palau
133      Palestinian National Authority
134                              Panama
135                    Papua New Guinea
136                            Paraguay
137                                Peru
138                         Philippines
139                              Poland
140                            Portugal
141                               Qatar
142                             Romania
143                              Russia
144                              Rwanda
145               Saint Kitts and Nevis
146                         Saint Lucia
147    Saint Vincent and the Grenadines
148                               Samoa
149                          San Marino
150                        S�����������
151                        Saudi Arabia
152                             Senegal
153                              Serbia
154                          Seychelles
155                        Sierra Leone
156                           Singapore
157                            Slovakia
158                            Slovenia
159                     Solomon Islands
160                             Somalia
161                        South Africa
162                         South Korea
163                         South Sudan
164                               Spain
165                           Sri Lanka
166                               Sudan
167                            Suriname
168                              Sweden
169                         Switzerland
170                               Syria
171                          Tajikistan
172                            Tanzania
173                            Thailand
174                          East Timor
175                                Togo
176                               Tonga
177                 Trinidad and Tobago
178                             Tunisia
179                              Turkey
180                        Turkmenistan
181                              Tuvalu
182                              Uganda
183                             Ukraine
184                United Arab Emirates
185                      United Kingdom
186                       United States
187                             Uruguay
188                          Uzbekistan
189                             Vanuatu
190                           Venezuela
191                             Vietnam
192                               Yemen
193                              Zambia
194                            Zimbabwe


Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [ ]:
paises_continente = {'Afghanistan': 'Asia',
'Albania': 'Europe','Algeria': 'Africa','Andorra': 'Europe','Angola': 'Africa','Antigua and Barbuda': 'North America','Argentina': 'South America',
'Armenia': 'Asia','Australia': 'Oceania','Austria': 'Europe','Azerbaijan': 'Asia','The Bahamas': 'North America','Bahrain': 'Asia','Bangladesh': 'Asia','Barbados': 'North America',
'Belarus': 'Europe','Belgium': 'Europe','Belize': 'North America','Benin': 'Africa','Bhutan': 'Asia','Bolivia': 'South America','Bosnia and Herzegovina': 'Europe',
'Botswana': 'Africa','Brazil': 'South America','Brunei': 'Asia','Bulgaria': 'Europe','Burkina Faso': 'Africa','Burundi': 'Africa','Ivory Coast': 'Africa','Cape Verde': 'Africa',
'Cambodia': 'Asia','Cameroon': 'Africa','Canada': 'North America','Central African Republic': 'Africa','Chad': 'Africa','Chile': 'South America','China': 'Asia','Colombia': 'South America',
'Comoros': 'Africa','Republic of the Congo': 'Africa','Costa Rica': 'North America','Croatia': 'Europe','Cuba': 'North America','Cyprus': 'Asia','Czech Republic': 'Europe',
'Democratic Republic of the Congo': 'Africa','Denmark': 'Europe','Djibouti': 'Africa','Dominica': 'North America','Dominican Republic': 'North America','Ecuador': 'South America','Egypt': 'Africa',
'El Salvador': 'North America','Equatorial Guinea': 'Africa','Eritrea': 'Africa','Estonia': 'Europe','Eswatini': 'Africa','Ethiopia': 'Africa','Fiji': 'Oceania','Finland': 'Europe','France': 'Europe',
'Gabon': 'Africa','The Gambia': 'Africa','Georgia': 'Europe','Germany': 'Europe','Ghana': 'Africa','Greece': 'Europe','Grenada': 'North America','Guatemala': 'North America','Guinea': 'Africa','Guinea-Bissau': 'Africa','Guyana': 'South America',
'Haiti': 'North America','Vatican City': 'Europe','Honduras': 'North America','Hungary': 'Europe','Iceland': 'Europe','India': 'Asia','Indonesia': 'Asia','Iran': 'Asia',
'Iraq': 'Asia','Republic of Ireland': 'Europe','Israel': 'Asia','Italy': 'Europe','Jamaica': 'North America','Japan': 'Asia','Jordan': 'Asia','Kazakhstan': 'Asia','Kenya': 'Africa',
'Kiribati': 'Oceania','Kuwait': 'Asia','Kyrgyzstan': 'Asia','Laos': 'Asia','Latvia': 'Europe','Lebanon': 'Asia','Lesotho': 'Africa','Liberia': 'Africa','Libya': 'Africa','Liechtenstein': 'Europe',
'Lithuania': 'Europe','Luxembourg': 'Europe','Madagascar': 'Africa','Malawi': 'Africa','Malaysia': 'Asia','Maldives': 'Asia','Mali': 'Africa','Malta': 'Europe','Marshall Islands': 'Oceania',
'Mauritania': 'Africa','Mauritius': 'Africa','Mexico': 'North America','Federated States of Micronesia': 'Oceania','Moldova': 'Europe','Monaco': 'Europe','Mongolia': 'Asia','Montenegro': 'Europe'
'Morocco': 'Africa','Mozambique': 'Africa','Myanmar': 'Asia','Namibia': 'Africa','Nauru': 'Oceania','Nepal': 'Asia',
'New Zealand': 'Oceania','Nicaragua': 'North America','Niger': 'Africa','Nigeria': 'Africa','North Korea': 'Asia','North Macedonia': 'Europe','Norway': 'Europe','Oman': 'Asia','Pakistan': 'Asia',
'Palau': 'Oceania','Palestine': 'Asia','Panama': 'North America','Papua New Guinea': 'Oceania','Paraguay': 'South America','Peru': 'South America','Philippines': 'Asia',
'Poland': 'Europe','Portugal': 'Europe','Qatar': 'Asia','Romania': 'Europe','Russia': 'Europe','Rwanda': 'Africa','Saint Kitts and Nevis': 'North America','Saint Lucia': 'North America','Saint Vincent and the Grenadines': 'North America',
'Samoa': 'Oceania','San Marino': 'Europe','São Tomé and Príncipe': 'Africa','Saudi Arabia': 'Asia','Senegal': 'Africa','Serbia': 'Europe','Seychelles': 'Africa','Sierra Leone': 'Africa',
'Singapore': 'Asia','Slovakia': 'Europe','Slovenia': 'Europe','Solomon Islands': 'Oceania','Somalia': 'Africa','South Africa': 'Africa','South Korea': 'Asia','South Sudan': 'Africa',
'Spain': 'Europe','Sri Lanka': 'Asia','Sudan': 'Africa','Suriname': 'South America','Sweden': 'Europe','Switzerland': 'Europe','Syria': 'Asia','Tajikistan': 'Asia','Tanzania': 'Africa',
'Thailand': 'Asia','Togo': 'Africa','Tonga': 'Oceania','Trinidad and Tobago': 'North America','Tunisia': 'Africa','Turkey': 'Asia','Turkmenistan': 'Asia','Tuvalu': 'Oceania','Uganda': 'Africa',
'Ukraine': 'Europe','United Arab Emirates': 'Asia','United Kingdom': 'Europe','United States': 'North America','Uruguay': 'South America','Uzbekistan': 'Asia',
'Vanuatu': 'Oceania','Venezuela': 'South America','Vietnam': 'Asia','Yemen': 'Asia','Zambia': 'Africa','Zimbabwe': 'Africa'}

len(paises_continente)

116

In [ ]:

valores = paises_continente.values()
df_world.insert(-1, "continent", valores)

ValueError: Length of values (116) does not match length of index (195)

In [ ]:

def nueva_columna (cadena):
    
    try:
       
        
    except:


Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.



## Ejercicios groupby

¿Cuál es la densidad de población promedio por continente?

¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

¿Cuál es la tasa de mortalidad infantil promedio por moneda?

¿Cuál es el salario mínimo por continente?

¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

¿Cuál es el porcentaje de población urbana promedio por continente?

¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.


## Ejercicios bonus groupby:

¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.


¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?