In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración

C:\Users\karin\AppData\Local\Temp\ipykernel_25184\1499216972.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Pair programming Nulos

## Ejercicios gestión de nulos

En este pair programming usaremos el csv que generamos en el pair programming de ayer. El objetivo del ejercicio es identificar las columnas que contienen valores nulos y aplicar un proceso de imputación para manejarlos de manera adecuada.

Instrucciones:

1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [2]:
# Cargamos el dataframe creado en la lección anterior
df = pd.read_csv("./df_world2.csv" ,index_col = 0)
df.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud,continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,...,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,...,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,...,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,...,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,...,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa

In [3]:
# Calculamos el porcentaje de nulos que tenemos para cada columna
(df.isnull().sum() / df.shape[0]) * 100

# Lo convertimos a DataFrame con porcentaje de nulos 
df_nulos = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])

# filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
df_nulos[df_nulos["%_nulos"] > 0]

                                      %_nulos
abbreviation                         3.608247
agriculturalland                     3.608247
landarea                             0.515464
armedforcessize                     12.371134
birthrate                            3.092784
callingcode                          0.515464
capital/majorcity                    1.546392
co2-emissions                        3.608247
cpi                                  8.762887
cpichange                            8.247423
currency-code                        7.731959
fertilityrate                        3.608247
forestedarea                         3.608247
gasolineprice                        9.793814
gdp                                  1.030928
grossprimaryeducationenrollment      3.608247
grosstertiaryeducationenrollment     6.185567
infantmortality                      3.092784
largestcity                          3.092784
lifeexpectancy                       4.123711
maternalmortalityratio               7.216495
minimumwage                         22.680412
officiallanguage                     2.061856
outofpockethealthexpenditure         3.608247
physiciansperthousand                3.608247
population                           0.515464
population:laborforceparticipation   9.793814
taxrevenue                          13.402062
totaltaxrate                         6.185567
unemploymentrate                     9.793814
urban_population                     2.577320

In [4]:
# Obtenemos la lista de columnas categóricas que tienen nulos: 
nulos_cat = df[df.columns[df.isnull().any()]].select_dtypes(include = "O").columns
print("Las columnas categóricas que tienen nulos son : \n ")
print(nulos_cat)

Las columnas categóricas que tienen nulos son :

Index(['abbreviation', 'capital/majorcity', 'currency-code', 'largestcity',
       'officiallanguage'],
      dtype='object')

In [5]:
# sacamos el 'value_counts()' de cada una de las columnas categóricas que tienen nulos para saber como es la distribución de sus categorías
for col in nulos_cat:
    print(f"La distribución de las categorías para la columna {col.upper()}")
    display(df[col].value_counts() / df.shape[0])
    print("........................")

La distribución de las categorías para la columna ABBREVIATION

abbreviation
AF    0.005155
PG    0.005155
NI    0.005155
NE    0.005155
NG    0.005155
        ...
GR    0.005155
GD    0.005155
GT    0.005155
GN    0.005155
ZW    0.005155
Name: count, Length: 187, dtype: float64

........................
La distribución de las categorías para la columna CAPITAL/MAJORCITY

capital/majorcity
Kabul                    0.005155
Ngerulmud                0.005155
Wellington               0.005155
Managua                  0.005155
Niamey                   0.005155
                           ...
Athens                   0.005155
St. George's, Grenada    0.005155
Guatemala City           0.005155
Conakry                  0.005155
Harare                   0.005155
Name: count, Length: 191, dtype: float64

........................
La distribución de las categorías para la columna CURRENCY-CODE

currency-code
EUR    0.118557
XOF    0.041237
USD    0.030928
XCD    0.030928
XAF    0.025773
         ...
GMD    0.005155
FJD    0.005155
ETB    0.005155
ERN    0.005155
ZMW    0.005155
Name: count, Length: 132, dtype: float64

........................
La distribución de las categorías para la columna LARGESTCITY

largestcity
Kabul                    0.005155
Panama City              0.005155
Managua                  0.005155
Niamey                   0.005155
Lagos                    0.005155
                           ...
Accra                    0.005155
Macedonia                0.005155
St. George's, Grenada    0.005155
Guatemala City           0.005155
Harare                   0.005155
Name: count, Length: 188, dtype: float64

........................
La distribución de las categorías para la columna OFFICIALLANGUAGE

officiallanguage
English             0.159794
French              0.128866
Spanish             0.097938
Arabic              0.092784
Portuguese          0.036082
                      ...
Albanian            0.005155
Jamaican English    0.005155
Lao                 0.005155
Latvian             0.005155
Shona               0.005155
Name: count, Length: 76, dtype: float64

........................

In [6]:
# Obtenemos la lista de columnas numéricas que tienen nulos
nulos_num = df[df.columns[df.isnull().any()]].select_dtypes(include = np.number).columns
print("Las columnas numéricas que tienen nulos son : \n ")
print(nulos_num)

Las columnas numéricas que tienen nulos son :

Index(['agriculturalland', 'landarea', 'armedforcessize', 'birthrate',
       'callingcode', 'co2-emissions', 'cpi', 'cpichange', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'lifeexpectancy', 'maternalmortalityratio',
       'minimumwage', 'outofpockethealthexpenditure', 'physiciansperthousand',
       'population', 'population:laborforceparticipation', 'taxrevenue',
       'totaltaxrate', 'unemploymentrate', 'urban_population'],
      dtype='object')

In [7]:
# lo primero que vamos a hacer es calcular el número de nulos que tenemos en cada una de las columnas numericas
df[nulos_num].isnull().sum() / df.shape[0]

agriculturalland                      0.036082
landarea                              0.005155
armedforcessize                       0.123711
birthrate                             0.030928
callingcode                           0.005155
co2-emissions                         0.036082
cpi                                   0.087629
cpichange                             0.082474
fertilityrate                         0.036082
forestedarea                          0.036082
gasolineprice                         0.097938
gdp                                   0.010309
grossprimaryeducationenrollment       0.036082
grosstertiaryeducationenrollment      0.061856
infantmortality                       0.030928
lifeexpectancy                        0.041237
maternalmortalityratio                0.072165
minimumwage                           0.226804
outofpockethealthexpenditure          0.036082
physiciansperthousand                 0.036082
population                            0.005155
population:laborforceparticipation    0.097938
taxrevenue                            0.134021
totaltaxrate                          0.061856
unemploymentrate                      0.097938
urban_population                      0.025773
dtype: float64


2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.


3. Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

In [8]:
nulos_cat
# Al visualizar el tipo de datos de las columnas categóricas con valores nulos vemos que podemos aplicar:
# Decidimos utilizar fillna con las columnas categóricas ya que son valores que consideramos que no podemos eliminar o utilizar ningún método estadístico para sustituir los nulos

Index(['abbreviation', 'capital/majorcity', 'currency-code', 'largestcity',
       'officiallanguage'],
      dtype='object')

In [9]:
columnas_desconocido = ['abbreviation', 'capital/majorcity', 'currency-code', 'largestcity',
       'officiallanguage']

# iteramos por la lista de columnas a las que le vamos a cambiar los nulos por "Uknown"
for columna in columnas_desconocido:
    
    # reemplazamos los nulos por el valor Unknown para cada una de las columnas de la lista
    df[columna] = df[columna].fillna("Unknown")
    
# comprobamos si quedan nulos en las columnas categóricas. 
print("Después del reemplazo usando 'fillna' quedan los siguientes nulos")
df[columnas_desconocido].isnull().sum()

Después del reemplazo usando 'fillna' quedan los siguientes nulos

abbreviation         0
capital/majorcity    0
currency-code        0
largestcity          0
officiallanguage     0
dtype: int64

In [10]:
print(df.to_string())

                              country  density abbreviation  agriculturalland    landarea  armedforcessize  birthrate  callingcode       capital/majorcity  co2-emissions      cpi  cpichange currency-code  fertilityrate  forestedarea  gasolineprice           gdp  grossprimaryeducationenrollment  grosstertiaryeducationenrollment  infantmortality              largestcity  lifeexpectancy  maternalmortalityratio  minimumwage        officiallanguage  outofpockethealthexpenditure  physiciansperthousand    population  population:laborforceparticipation  taxrevenue  totaltaxrate  unemploymentrate  urban_population    latitud    longitud      continent
0                         Afghanistan     60.0           AF              58.1    652230.0         323000.0      32.49         93.0                   Kabul         8672.0   149.90        2.3           AFN           4.47           2.1           0.70  1.910135e+10                            104.0                               9.7             47.9                    Kabul            64.5                   638.0         0.43                  Pashto                          78.4                   0.28  3.804175e+07                                48.9         9.3          71.4             11.12         9797273.0  33.939110   67.709953           Asia
1                             Albania    105.0           AL              43.1     28748.0           9000.0      11.78        355.0                  Tirana         4536.0   119.05        1.4           ALL           1.62          28.1           1.36  1.527808e+10                            107.0                              55.0              7.8                   Tirana            78.5                    15.0         1.12                Albanian                          56.9                   1.20  2.854191e+06                                55.7        18.6          36.6             12.33         1747593.0  41.153332   20.168331         Europe
2                             Algeria     18.0           DZ              17.4   2381741.0         317000.0      24.28        213.0                 Algiers       150006.0   151.36        2.0           DZD           3.02           0.8           0.28  1.699882e+11                            109.9                              51.4             20.1                  Algiers            76.7                   112.0         0.95                  Arabic                          28.1                   1.72  4.305305e+07                                41.2        37.2          66.1             11.70        31510100.0  28.033886    1.659626         Africa
3                             Andorra    164.0           AD              40.0       468.0              NaN       7.20        376.0        Andorra la Vella          469.0      NaN        NaN           EUR           1.27          34.0           1.51  3.154058e+09                            106.4                               NaN              2.7         Andorra la Vella             NaN                     NaN         6.63                 Catalan                          36.4                   3.33  7.714200e+04                                 NaN         NaN           NaN               NaN           67873.0  42.506285    1.521801         Europe
4                              Angola     26.0           AO              47.5   1246700.0         117000.0      40.73        244.0                  Luanda        34693.0   261.73       17.1           AOA           5.52          46.3           0.97  9.463542e+10                            113.5                               9.3             51.6                   Luanda            60.8                   241.0         0.71              Portuguese                          33.4                   0.21  3.182530e+07                                77.5         9.2          49.1              6.89        21061025.0 -11.202692   17.873887         Africa
5                 Antigua and Barbuda    223.0           AG              20.5       443.0              0.0      15.33          1.0  St. John's, Saint John          557.0   113.81        1.2           XCD           1.99          22.3           0.99  1.727759e+09                            105.0                              24.8              5.0   St. John's, Saint John            76.9                    42.0         3.04                 English                          24.3                   2.76  9.711800e+04                                 NaN        16.5          43.0               NaN           23800.0  17.060816  -61.796428  North America
6                           Argentina     17.0           AR              54.3   2780400.0         105000.0      17.02         54.0            Buenos Aires       201348.0   232.75       53.5           ARS           2.26           9.8           1.10  4.496634e+11                            109.7                              90.0              8.8             Buenos Aires            76.5                    39.0         3.35                 Spanish                          17.6                   3.96  4.493871e+07                                61.3        10.1         106.3              9.79        41339571.0 -38.416097  -63.616672  South America
7                             Armenia    104.0           AM              58.9     29743.0          49000.0      13.99        374.0                 Yerevan         5156.0   129.18        1.4           AMD           1.76          11.7           0.77  1.367280e+10                             92.7                              54.6             11.0                  Yerevan            74.9                    26.0         0.66                Armenian                          81.6                   4.40  2.957731e+06                                55.6        20.9          22.6             16.99         1869848.0  40.069099   45.038189           Asia
8                           Australia      3.0           AU              48.2   7741220.0          58000.0      12.60         61.0                Canberra       375908.0   119.80        1.6           AUD           1.74          16.3           0.93  1.392681e+12                            100.3                             113.1              3.1                   Sydney            82.7                     6.0        13.59                 Unknown                          19.6                   3.68  2.576660e+07                                65.5        23.0          47.4              5.27        21844756.0 -25.274398  133.775136        Oceania
9                             Austria    109.0           AT              32.4     83871.0          21000.0       9.70         43.0                  Vienna        61448.0   118.06        1.5           EUR           1.47          46.9           1.20  4.463147e+11                            103.1                              85.1              2.9                   Vienna            81.6                     5.0          NaN                  German                          17.9                   5.17  8.877067e+06                                60.7        25.4          51.4              4.67         5194416.0  47.516231   14.550072         Europe
10                         Azerbaijan    123.0           AZ              57.7     86600.0          82000.0      14.00        994.0                    Baku        37620.0   156.32        2.6           AZN           1.73          14.1           0.56  3.920700e+10                             99.7                              27.7             19.2                     Baku            72.9                    26.0         0.47    Azerbaijani language                          78.6                   3.45  1.002332e+07                                66.5        13.0          40.7              5.51         5616165.0  40.143105   47.576927           Asia
11                        The Bahamas     39.0           BS               1.4     13880.0           1000.0      13.97          1.0         Nassau, Bahamas         1786.0   116.22        2.5       Unknown           1.75          51.4           0.92  1.282700e+10                             81.4                              15.1              8.3          Nassau, Bahamas            73.8                    70.0         5.25                 English                          27.8                   1.94  3.894820e+05                                74.6        14.8          33.8             10.36          323784.0  25.034280  -77.396280  North America
12                            Bahrain   2239.0           BH              11.1       765.0          19000.0      13.99        973.0                  Manama        31694.0   117.59        2.1           BHD           1.99           0.8           0.43  3.857407e+10                             99.4                              50.5              6.1                    Riffa            77.2                    14.0          NaN                  Arabic                          25.1                   0.93  1.501635e+06                                73.4         4.2          13.8              0.71         1467109.0  26.066700   50.557700           Asia
13                         Bangladesh   1265.0           BD              70.6    148460.0         221000.0      18.18        880.0                   Dhaka        84246.0   179.68        5.6           BDT           2.04          11.0           1.12  3.025713e+11                            116.5                              20.6             25.1                    Dhaka            72.3                   173.0         0.51                 Bengali                          71.8                   0.58  1.673108e+08                                59.0         8.8          33.4              4.19        60987417.0  23.684994   90.356331           Asia
14                           Barbados    668.0           BB              23.3       430.0           1000.0      10.65          1.0              Bridgetown         1276.0   134.09        4.1           BBD           1.62          14.7           1.81  5.209000e+09                             99.4                              65.4             11.3               Bridgetown            79.1                    27.0         3.13                 English                          45.2                   2.48  2.870250e+05                                65.2        27.5          35.6             10.33           89431.0  13.193887  -59.543198  North America
15                            Belarus     47.0           BY              42.0    207600.0         155000.0       9.90        375.0                   Minsk        58280.0      NaN        5.6           BYN           1.45          42.6           0.60  6.308046e+10                            100.5                              87.4              2.6                    Minsk            74.2                     2.0         1.49                 Russian                          34.5                   5.19  9.466856e+06                                64.1        14.7          53.3              4.59         7482982.0  53.709807   27.953389         Europe
16                            Belgium    383.0           BE              44.6     30528.0          32000.0      10.30         32.0        City of Brussels        96889.0   117.11        1.4           EUR           1.62          22.6           1.43  5.296067e+11                            103.9                              79.7              2.9                 Brussels            81.6                     5.0        10.31                  French                          17.6                   3.07  1.148406e+07                                53.6        24.0          55.4              5.59        11259082.0  50.503887    4.469936         Europe
17                             Belize     17.0           BZ               7.0     22966.0           2000.0      20.79        501.0                Belmopan          568.0   105.68       -0.9           BZD           2.31          59.7           1.13  1.879614e+09                            111.7                              24.7             11.2              Belize City            74.5                    36.0         1.65                 English                          22.7                   1.12  3.903530e+05                                65.1        26.3          31.1              6.41          179039.0  17.189877  -88.497650  North America
18                              Benin    108.0           BJ              33.3    112622.0          12000.0      36.22        229.0              Porto-Novo         6476.0   110.71       -0.9           XOF           4.84          37.8           0.72  1.439071e+10                            122.0                              12.3             60.5                  Cotonou            61.5                   397.0         0.39                  French                          40.5                   0.08  1.180115e+07                                70.9        10.8          48.9              2.23         5648149.0   9.307690    2.315834         Africa
19                             Bhutan     20.0           BT              13.6     38394.0           6000.0      17.26        975.0                 Thimphu         1261.0   167.18        2.7       Unknown           1.98          72.5           0.98  2.446674e+09                            100.1                              15.6             24.8                  Thimphu            71.5                   183.0         0.32                Dzongkha                          19.8                   0.42  7.271450e+05                                66.7        16.0          35.3              2.34          317538.0  27.514162   90.433601           Asia
20                            Bolivia     11.0           BO              34.8   1098581.0          71000.0      21.75        591.0                   Sucre        21606.0   148.32        1.8           BOB           2.73          50.3           0.71  4.089532e+10                             98.2                               NaN             21.8  Santa Cruz de la Sierra            71.2                   155.0         1.36                 Spanish                          25.9                   1.59  1.151310e+07                                71.8        17.0          83.7              3.50         8033035.0 -16.290154  -63.588653  South America
21             Bosnia and Herzegovina     64.0           BA              43.1     51197.0          11000.0       8.11        387.0                Sarajevo        21848.0   104.90        0.6           BAM           1.27          42.7           1.05  2.004785e+10                              NaN                              23.3              5.0             Tuzla Canton            77.3                    10.0         1.04                 Bosnian                          28.6                   2.16  3.301000e+06                                46.4        20.4          23.7             18.42         1605144.0  43.915886   17.679076         Europe
22                           Botswana      4.0           BW              45.6    581730.0           9000.0      24.82        267.0                Gaborone         6340.0   149.75        2.8           BWP           2.87          18.9           0.71  1.834051e+10                            103.2                              24.9             30.0                 Gaborone            69.3                   144.0         0.29                 English                           5.3                   0.37  2.346179e+06                                70.8        19.5          25.1             18.19         1616550.0 -22.328474   24.684866         Africa
23                             Brazil     25.0           BR              33.9   8515770.0         730000.0      13.92         55.0                 Bras���       462299.0   167.40        3.7           BRL           1.73          58.9           1.02  1.839758e+12                            115.4                              51.3             12.8                    S����            75.7                    60.0         1.53              Portuguese                          28.3                   2.15  2.125594e+08                                63.9        14.2          65.1             12.08       183241641.0 -14.235004  -51.925280  South America
24                             Brunei     83.0           BN               2.7      5765.0           8000.0      14.90        673.0     Bandar Seri Begawan         7664.0    99.03       -0.4           BND           1.85          72.1           0.37  1.346942e+10                            103.2                              31.4              9.8                  Unknown            75.7                    31.0          NaN                   Malay                           6.0                   1.61  4.332850e+05                                64.7         NaN           8.0              9.12          337711.0   4.535277  114.727669           Asia
25                           Bulgaria     64.0           BG              46.3    110879.0          31000.0       8.90        359.0                   Sofia        41708.0   114.42        3.1           BGN           1.56          35.4           1.11  8.600000e+10                             89.3                              71.0              5.9                    Sofia            74.9                    10.0         1.57               Bulgarian                          47.7                   4.03  6.975761e+06                                55.4        20.2          28.3              4.34         5256027.0  42.733883   25.485830         Europe
26                       Burkina Faso     76.0           BF              44.2    274200.0          11000.0      37.93        226.0             Ouagadougou         3418.0   106.58       -3.2           XOF           5.19          19.3           0.98  1.574581e+10                             96.1                               6.5             49.0              Ouagadougou            61.2                   320.0         0.34                  French                          36.1                   0.08  2.032138e+07                                66.4        15.0          41.3              6.26         6092349.0  12.238333   -1.561593         Africa
27                            Burundi    463.0           BI              79.2     27830.0          31000.0      39.01        257.0               Bujumbura          495.0   182.11       -0.7           BIF           5.41          10.9           1.21  3.012335e+09                            121.4                               6.1             41.0                Bujumbura            61.2                   548.0          NaN                 Kirundi                          19.1                   0.10  1.153058e+07                                79.2        13.6          41.2              1.43         1541177.0  -3.373056   29.918886         Africa
28                        Ivory Coast     83.0           CI              64.8    322463.0          27000.0      35.74        225.0            Yamoussoukro         9674.0   111.61       -0.9           XOF           4.65          32.7           0.93  5.879221e+10                             99.8                               9.3             59.4                  Abidjan            57.4                   617.0         0.36                  French                          36.0                   0.23  2.571654e+07                                57.0        11.8          50.1              3.32        13176900.0   7.539989   -5.547080         Africa

In [11]:
nulos_num

Index(['agriculturalland', 'landarea', 'armedforcessize', 'birthrate',
       'callingcode', 'co2-emissions', 'cpi', 'cpichange', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'lifeexpectancy', 'maternalmortalityratio',
       'minimumwage', 'outofpockethealthexpenditure', 'physiciansperthousand',
       'population', 'population:laborforceparticipation', 'taxrevenue',
       'totaltaxrate', 'unemploymentrate', 'urban_population'],
      dtype='object')

In [12]:
# Observamos las columnas numéricas y decidimos que métodos realizar con cada una: 
nulos_num
# Se decide hacer listas de columnas según que métodos vayamos a utilizar 

columnas_moda = ['agriculturalland', 'landarea', 'co2-emissions', 'cpi', 'cpichange', 'grossprimaryeducationenrollment', 'lifeexpectancy', 'physiciansperthousand',
                'population:laborforceparticipation', 'taxrevenue', 'totaltaxrate', 'unemploymentrate' ]
columnas_media = ['armedforcessize', 'birthrate', 'fertilityrate','gasolineprice' ]
columnas_vecinos = ['callingcode','gdp', 'minimumwage', 'outofpockethealthexpenditure', 'population']
columnas_iterative = ['grosstertiaryeducationenrollment', 'infantmortality', 'maternalmortalityratio', 'urban_population' ]

In [13]:

# iteramos por la lista creada en el paso anterior:
for columna in columnas_moda:
    
    # creamos el objeto de la clase del SimpleImputer
    imputer_columnas = SimpleImputer(strategy = "most_frequent")

    # ajustamos y transformamos los datos. 📌 Fijaos como hemos puesto dos corchetes en el nombre de la columna
    columnas_imputado = imputer_columnas.fit_transform(df[[columna]])

    # comprobamos que es lo que nos devuelve este método. Nos devuelve un array. 
    columnas_imputado

    # lo siguiente que tenemos que hacer es introducir este array en nuestro DataFrame, en este caso sobreescribiremos la columna original. 
    df[columna] = columnas_imputado

    # por último comprobamos si tenemos nulos. 
    print(f"Después del 'SimpleImputer' tenemos {df[columna].isnull().sum()} nulos")

Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos
Después del 'SimpleImputer' tenemos 0 nulos

In [14]:
# calculamos la media para las columnas

for columna in columnas_media: 
    
    media = df[columna].mean()
    print(f"La media de la {columna} es: {round(media, 2)}")

    # aplicamos el método 'fillna()' a la columna
    df[columna] = df[columna].fillna(media)

    # comprobamos los nulos para la columna
    print(f"Después del 'fillna' tenemos {df[columna].isnull().sum()} nulos")

La media de la armedforcessize es: 160205.88
Después del 'fillna' tenemos 0 nulos
La media de la birthrate es: 20.15
Después del 'fillna' tenemos 0 nulos
La media de la fertilityrate es: 2.69
Después del 'fillna' tenemos 0 nulos
La media de la gasolineprice es: 1.0
Después del 'fillna' tenemos 0 nulos

In [15]:
# Continuamos, ahora con el IterativeImputer
# instanciamos las clases

for columna in columnas_iterative:
    
    imputer_iterative = IterativeImputer(max_iter = 20, random_state = 42)

    # ajustamos y tranformamos los datos
    imputer_iterative_imputado = imputer_iterative.fit_transform(df[[columna]])

    # comprobamos que es lo que nos devuelve, que en este caso es un array también
    imputer_iterative_imputado
    
    df[[columna]] = imputer_iterative_imputado
    
    # comprobamos los nulos
    print(f"Después del 'Iterative' tenemos: \n{df[[columna]].isnull().sum()} nulos")

Después del 'Iterative' tenemos:
grosstertiaryeducationenrollment    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
infantmortality    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
maternalmortalityratio    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
urban_population    0
dtype: int64 nulos

In [16]:
# Hacemos ahora lo mismo con el KNNImputer.
for columna in columnas_vecinos: 
    
    # instanciamos la clase del KNNImputer
    imputer_knn = KNNImputer(n_neighbors = 5)

    # ajustamos y transformamos los datos
    imputer_knn_imputado = imputer_knn.fit_transform(df[[columna]])

    # comprobamos que es lo que nos devuelve, que sigue siendo un array
    imputer_knn_imputado

    # por último nos queda añadir ese array al DataFrame como hemos hecho hasta ahora
    df[[columna]] = imputer_knn_imputado


    # comprobamos los nulos
    print(f"Después del 'KNN' tenemos: \n{df[[columna]].isnull().sum()} nulos")

Después del 'KNN' tenemos:
callingcode    0
dtype: int64 nulos
Después del 'KNN' tenemos:
gdp    0
dtype: int64 nulos
Después del 'KNN' tenemos:
minimumwage    0
dtype: int64 nulos
Después del 'KNN' tenemos:
outofpockethealthexpenditure    0
dtype: int64 nulos
Después del 'KNN' tenemos:
population    0
dtype: int64 nulos


4. Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

- La moda se utiliza para imputar valores faltantes en variables categóricas o discretas. Seleccionamos la moda porque representa el valor más frecuente en la columna y es una estimación razonable para los datos faltantes que teníamos. 

- La media se utiliza comúnmente para imputar valores faltantes en variables numéricas cuando la distribución de los datos es aproximadamente normal y no hay valores extremos que puedan sesgar la media. Las variables como el tamaño de las fuerzas armadas, la tasa de natalidad, la tasa de fertilidad, el precio de la gasolina se han utilizando con la media porque proporciona una estimación central razonable. No había demasiados desajustes entre los valores con rangos próximos, por lo que lo consideramos la decisión más adecuada. 

- El método de 'vecinos' (KNN) más cercanos se utiliza cuando los datos tienen una estructura similar y los valores vecinos pueden proporcionar una buena estimación del valor faltante. Nos resultó útil y aplicable a las variables seleccionadas. Si los países o regiones vecinas tienden a tener valores similares en estas variables, imputar los valores faltantes basados en los valores de los vecinos más cercanos es la opción más adecuada en nuestro caso. 

- La imputación iterativa es útil cuando las variables están interrelacionadas y se pueden utilizar las otras variables para estimar el valor faltante. Variables como la tasa de mortalidad infantil, la tasa de mortalidad materna, la matrícula bruta en educación terciaria, la población urbana, etc., consideramos que encajabn para aplicar este método. La imputación iterativa aprovecha estas relaciones para estimar los valores faltantes iterativamente, lo que puede proporcionar estimaciones más precisas que otros métodos cuando hay una fuerte interdependencia entre las variables.

In [17]:
print(df.to_string())

                              country  density abbreviation  agriculturalland    landarea  armedforcessize  birthrate  callingcode       capital/majorcity  co2-emissions      cpi  cpichange currency-code  fertilityrate  forestedarea  gasolineprice           gdp  grossprimaryeducationenrollment  grosstertiaryeducationenrollment  infantmortality              largestcity  lifeexpectancy  maternalmortalityratio  minimumwage        officiallanguage  outofpockethealthexpenditure  physiciansperthousand    population  population:laborforceparticipation  taxrevenue  totaltaxrate  unemploymentrate  urban_population    latitud    longitud      continent
0                         Afghanistan     60.0           AF              58.1    652230.0     3.230000e+05  32.490000    93.000000                   Kabul         8672.0   149.90        2.3           AFN       4.470000           2.1       0.700000  1.910135e+10                            104.0                          9.700000        47.900000                    Kabul            64.5              638.000000     0.430000                  Pashto                     78.400000                   0.28  3.804175e+07                                48.9         9.3          71.4             11.12      9.797273e+06  33.939110   67.709953           Asia
1                             Albania    105.0           AL              43.1     28748.0     9.000000e+03  11.780000   355.000000                  Tirana         4536.0   119.05        1.4           ALL       1.620000          28.1       1.360000  1.527808e+10                            107.0                         55.000000         7.800000                   Tirana            78.5               15.000000     1.120000                Albanian                     56.900000                   1.20  2.854191e+06                                55.7        18.6          36.6             12.33      1.747593e+06  41.153332   20.168331         Europe
2                             Algeria     18.0           DZ              17.4   2381741.0     3.170000e+05  24.280000   213.000000                 Algiers       150006.0   151.36        2.0           DZD       3.020000           0.8       0.280000  1.699882e+11                            109.9                         51.400000        20.100000                  Algiers            76.7              112.000000     0.950000                  Arabic                     28.100000                   1.72  4.305305e+07                                41.2        37.2          66.1             11.70      3.151010e+07  28.033886    1.659626         Africa
3                             Andorra    164.0           AD              40.0       468.0     1.602059e+05   7.200000   376.000000        Andorra la Vella          469.0    99.55        1.8           EUR       1.270000          34.0       1.510000  3.154058e+09                            106.4                         38.098352         2.700000         Andorra la Vella            76.5              160.561111     6.630000                 Catalan                     36.400000                   3.33  7.714200e+04                                65.1        19.5          36.6              4.59      6.787300e+04  42.506285    1.521801         Europe
4                              Angola     26.0           AO              47.5   1246700.0     1.170000e+05  40.730000   244.000000                  Luanda        34693.0   261.73       17.1           AOA       5.520000          46.3       0.970000  9.463542e+10                            113.5                          9.300000        51.600000                   Luanda            60.8              241.000000     0.710000              Portuguese                     33.400000                   0.21  3.182530e+07                                77.5         9.2          49.1              6.89      2.106102e+07 -11.202692   17.873887         Africa
5                 Antigua and Barbuda    223.0           AG              20.5       443.0     0.000000e+00  15.330000     1.000000  St. John's, Saint John          557.0   113.81        1.2           XCD       1.990000          22.3       0.990000  1.727759e+09                            105.0                         24.800000         5.000000   St. John's, Saint John            76.9               42.000000     3.040000                 English                     24.300000                   2.76  9.711800e+04                                65.1        16.5          43.0              4.59      2.380000e+04  17.060816  -61.796428  North America
6                           Argentina     17.0           AR              54.3   2780400.0     1.050000e+05  17.020000    54.000000            Buenos Aires       201348.0   232.75       53.5           ARS       2.260000           9.8       1.100000  4.496634e+11                            109.7                         90.000000         8.800000             Buenos Aires            76.5               39.000000     3.350000                 Spanish                     17.600000                   3.96  4.493871e+07                                61.3        10.1         106.3              9.79      4.133957e+07 -38.416097  -63.616672  South America
7                             Armenia    104.0           AM              58.9     29743.0     4.900000e+04  13.990000   374.000000                 Yerevan         5156.0   129.18        1.4           AMD       1.760000          11.7       0.770000  1.367280e+10                             92.7                         54.600000        11.000000                  Yerevan            74.9               26.000000     0.660000                Armenian                     81.600000                   4.40  2.957731e+06                                55.6        20.9          22.6             16.99      1.869848e+06  40.069099   45.038189           Asia
8                           Australia      3.0           AU              48.2   7741220.0     5.800000e+04  12.600000    61.000000                Canberra       375908.0   119.80        1.6           AUD       1.740000          16.3       0.930000  1.392681e+12                            100.3                        113.100000         3.100000                   Sydney            82.7                6.000000    13.590000                 Unknown                     19.600000                   3.68  2.576660e+07                                65.5        23.0          47.4              5.27      2.184476e+07 -25.274398  133.775136        Oceania
9                             Austria    109.0           AT              32.4     83871.0     2.100000e+04   9.700000    43.000000                  Vienna        61448.0   118.06        1.5           EUR       1.470000          46.9       1.200000  4.463147e+11                            103.1                         85.100000         2.900000                   Vienna            81.6                5.000000     2.194133                  German                     17.900000                   5.17  8.877067e+06                                60.7        25.4          51.4              4.67      5.194416e+06  47.516231   14.550072         Europe
10                         Azerbaijan    123.0           AZ              57.7     86600.0     8.200000e+04  14.000000   994.000000                    Baku        37620.0   156.32        2.6           AZN       1.730000          14.1       0.560000  3.920700e+10                             99.7                         27.700000        19.200000                     Baku            72.9               26.000000     0.470000    Azerbaijani language                     78.600000                   3.45  1.002332e+07                                66.5        13.0          40.7              5.51      5.616165e+06  40.143105   47.576927           Asia
11                        The Bahamas     39.0           BS               1.4     13880.0     1.000000e+03  13.970000     1.000000         Nassau, Bahamas         1786.0   116.22        2.5       Unknown       1.750000          51.4       0.920000  1.282700e+10                             81.4                         15.100000         8.300000          Nassau, Bahamas            73.8               70.000000     5.250000                 English                     27.800000                   1.94  3.894820e+05                                74.6        14.8          33.8             10.36      3.237840e+05  25.034280  -77.396280  North America
12                            Bahrain   2239.0           BH              11.1       765.0     1.900000e+04  13.990000   973.000000                  Manama        31694.0   117.59        2.1           BHD       1.990000           0.8       0.430000  3.857407e+10                             99.4                         50.500000         6.100000                    Riffa            77.2               14.000000     2.194133                  Arabic                     25.100000                   0.93  1.501635e+06                                73.4         4.2          13.8              0.71      1.467109e+06  26.066700   50.557700           Asia
13                         Bangladesh   1265.0           BD              70.6    148460.0     2.210000e+05  18.180000   880.000000                   Dhaka        84246.0   179.68        5.6           BDT       2.040000          11.0       1.120000  3.025713e+11                            116.5                         20.600000        25.100000                    Dhaka            72.3              173.000000     0.510000                 Bengali                     71.800000                   0.58  1.673108e+08                                59.0         8.8          33.4              4.19      6.098742e+07  23.684994   90.356331           Asia
14                           Barbados    668.0           BB              23.3       430.0     1.000000e+03  10.650000     1.000000              Bridgetown         1276.0   134.09        4.1           BBD       1.620000          14.7       1.810000  5.209000e+09                             99.4                         65.400000        11.300000               Bridgetown            79.1               27.000000     3.130000                 English                     45.200000                   2.48  2.870250e+05                                65.2        27.5          35.6             10.33      8.943100e+04  13.193887  -59.543198  North America
15                            Belarus     47.0           BY              42.0    207600.0     1.550000e+05   9.900000   375.000000                   Minsk        58280.0    99.55        5.6           BYN       1.450000          42.6       0.600000  6.308046e+10                            100.5                         87.400000         2.600000                    Minsk            74.2                2.000000     1.490000                 Russian                     34.500000                   5.19  9.466856e+06                                64.1        14.7          53.3              4.59      7.482982e+06  53.709807   27.953389         Europe
16                            Belgium    383.0           BE              44.6     30528.0     3.200000e+04  10.300000    32.000000        City of Brussels        96889.0   117.11        1.4           EUR       1.620000          22.6       1.430000  5.296067e+11                            103.9                         79.700000         2.900000                 Brussels            81.6                5.000000    10.310000                  French                     17.600000                   3.07  1.148406e+07                                53.6        24.0          55.4              5.59      1.125908e+07  50.503887    4.469936         Europe
17                             Belize     17.0           BZ               7.0     22966.0     2.000000e+03  20.790000   501.000000                Belmopan          568.0   105.68       -0.9           BZD       2.310000          59.7       1.130000  1.879614e+09                            111.7                         24.700000        11.200000              Belize City            74.5               36.000000     1.650000                 English                     22.700000                   1.12  3.903530e+05                                65.1        26.3          31.1              6.41      1.790390e+05  17.189877  -88.497650  North America
18                              Benin    108.0           BJ              33.3    112622.0     1.200000e+04  36.220000   229.000000              Porto-Novo         6476.0   110.71       -0.9           XOF       4.840000          37.8       0.720000  1.439071e+10                            122.0                         12.300000        60.500000                  Cotonou            61.5              397.000000     0.390000                  French                     40.500000                   0.08  1.180115e+07                                70.9        10.8          48.9              2.23      5.648149e+06   9.307690    2.315834         Africa
19                             Bhutan     20.0           BT              13.6     38394.0     6.000000e+03  17.260000   975.000000                 Thimphu         1261.0   167.18        2.7       Unknown       1.980000          72.5       0.980000  2.446674e+09                            100.1                         15.600000        24.800000                  Thimphu            71.5              183.000000     0.320000                Dzongkha                     19.800000                   0.42  7.271450e+05                                66.7        16.0          35.3              2.34      3.175380e+05  27.514162   90.433601           Asia
20                            Bolivia     11.0           BO              34.8   1098581.0     7.100000e+04  21.750000   591.000000                   Sucre        21606.0   148.32        1.8           BOB       2.730000          50.3       0.710000  4.089532e+10                             98.2                         38.098352        21.800000  Santa Cruz de la Sierra            71.2              155.000000     1.360000                 Spanish                     25.900000                   1.59  1.151310e+07                                71.8        17.0          83.7              3.50      8.033035e+06 -16.290154  -63.588653  South America
21             Bosnia and Herzegovina     64.0           BA              43.1     51197.0     1.100000e+04   8.110000   387.000000                Sarajevo        21848.0   104.90        0.6           BAM       1.270000          42.7       1.050000  2.004785e+10                            100.9                         23.300000         5.000000             Tuzla Canton            77.3               10.000000     1.040000                 Bosnian                     28.600000                   2.16  3.301000e+06                                46.4        20.4          23.7             18.42      1.605144e+06  43.915886   17.679076         Europe
22                           Botswana      4.0           BW              45.6    581730.0     9.000000e+03  24.820000   267.000000                Gaborone         6340.0   149.75        2.8           BWP       2.870000          18.9       0.710000  1.834051e+10                            103.2                         24.900000        30.000000                 Gaborone            69.3              144.000000     0.290000                 English                      5.300000                   0.37  2.346179e+06                                70.8        19.5          25.1             18.19      1.616550e+06 -22.328474   24.684866         Africa
23                             Brazil     25.0           BR              33.9   8515770.0     7.300000e+05  13.920000    55.000000                 Bras���       462299.0   167.40        3.7           BRL       1.730000          58.9       1.020000  1.839758e+12                            115.4                         51.300000        12.800000                    S����            75.7               60.000000     1.530000              Portuguese                     28.300000                   2.15  2.125594e+08                                63.9        14.2          65.1             12.08      1.832416e+08 -14.235004  -51.925280  South America
24                             Brunei     83.0           BN               2.7      5765.0     8.000000e+03  14.900000   673.000000     Bandar Seri Begawan         7664.0    99.03       -0.4           BND       1.850000          72.1       0.370000  1.346942e+10                            103.2                         31.400000         9.800000                  Unknown            75.7               31.000000     2.194133                   Malay                      6.000000                   1.61  4.332850e+05                                64.7        19.5           8.0              9.12      3.377110e+05   4.535277  114.727669           Asia
25                           Bulgaria     64.0           BG              46.3    110879.0     3.100000e+04   8.900000   359.000000                   Sofia        41708.0   114.42        3.1           BGN       1.560000          35.4       1.110000  8.600000e+10                             89.3                         71.000000         5.900000                    Sofia            74.9               10.000000     1.570000               Bulgarian                     47.700000                   4.03  6.975761e+06                                55.4        20.2          28.3              4.34      5.256027e+06  42.733883   25.485830         Europe
26                       Burkina Faso     76.0           BF              44.2    274200.0     1.100000e+04  37.930000   226.000000             Ouagadougou         3418.0   106.58       -3.2           XOF       5.190000          19.3       0.980000  1.574581e+10                             96.1                          6.500000        49.000000              Ouagadougou            61.2              320.000000     0.340000                  French                     36.100000                   0.08  2.032138e+07                                66.4        15.0          41.3              6.26      6.092349e+06  12.238333   -1.561593         Africa
27                            Burundi    463.0           BI              79.2     27830.0     3.100000e+04  39.010000   257.000000               Bujumbura          495.0   182.11       -0.7           BIF       5.410000          10.9       1.210000  3.012335e+09                            121.4                          6.100000        41.000000                Bujumbura            61.2              548.000000     2.194133                 Kirundi                     19.100000                   0.10  1.153058e+07                                79.2        13.6          41.2              1.43      1.541177e+06  -3.373056   29.918886         Africa
28                        Ivory Coast     83.0           CI              64.8    322463.0     2.700000e+04  35.740000   225.000000            Yamoussoukro         9674.0   111.61       -0.9           XOF       4.650000          32.7       0.930000  5.879221e+10                             99.8                          9.300000        59.400000                  Abidjan            57.4              617.000000     0.360000                  French                     36.000000                   0.23  2.571654e+07                                57.0        11.8          50.1              3.32      1.317690e+07   7.539989   -5.547080         Africa