In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración

C:\Users\karin\AppData\Local\Temp\ipykernel_19788\1499216972.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Pair programming Nulos

## Ejercicios gestión de nulos

En este pair programming usaremos el csv que generamos en el pair programming de ayer. El objetivo del ejercicio es identificar las columnas que contienen valores nulos y aplicar un proceso de imputación para manejarlos de manera adecuada.

Instrucciones:

1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [2]:
# Cargamos el dataframe creado en la lección anterior
df = pd.read_csv("./df_world2.csv" ,index_col = 0)
df.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud,continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,...,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,...,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,...,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,...,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,...,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa

In [8]:
print(df.to_string())

                              country  density abbreviation  agriculturalland    landarea  armedforcessize  birthrate  callingcode       capital/majorcity  co2-emissions      cpi  cpichange currency-code  fertilityrate  forestedarea  gasolineprice           gdp  grossprimaryeducationenrollment  grosstertiaryeducationenrollment  infantmortality              largestcity  lifeexpectancy  maternalmortalityratio  minimumwage        officiallanguage  outofpockethealthexpenditure  physiciansperthousand    population  population:laborforceparticipation  taxrevenue  totaltaxrate  unemploymentrate  urban_population    latitud    longitud      continent
0                         Afghanistan     60.0           AF              58.1    652230.0         323000.0      32.49         93.0                   Kabul         8672.0   149.90        2.3           AFN           4.47           2.1           0.70  1.910135e+10                            104.0                               9.7             47.9                    Kabul            64.5                   638.0         0.43                  Pashto                          78.4                   0.28  3.804175e+07                                48.9         9.3          71.4             11.12         9797273.0  33.939110   67.709953           Asia
1                             Albania    105.0           AL              43.1     28748.0           9000.0      11.78        355.0                  Tirana         4536.0   119.05        1.4           ALL           1.62          28.1           1.36  1.527808e+10                            107.0                              55.0              7.8                   Tirana            78.5                    15.0         1.12                Albanian                          56.9                   1.20  2.854191e+06                                55.7        18.6          36.6             12.33         1747593.0  41.153332   20.168331         Europe
2                             Algeria     18.0           DZ              17.4   2381741.0         317000.0      24.28        213.0                 Algiers       150006.0   151.36        2.0           DZD           3.02           0.8           0.28  1.699882e+11                            109.9                              51.4             20.1                  Algiers            76.7                   112.0         0.95                  Arabic                          28.1                   1.72  4.305305e+07                                41.2        37.2          66.1             11.70        31510100.0  28.033886    1.659626         Africa
3                             Andorra    164.0           AD              40.0       468.0              NaN       7.20        376.0        Andorra la Vella          469.0      NaN        NaN           EUR           1.27          34.0           1.51  3.154058e+09                            106.4                               NaN              2.7         Andorra la Vella             NaN                     NaN         6.63                 Catalan                          36.4                   3.33  7.714200e+04                                 NaN         NaN           NaN               NaN           67873.0  42.506285    1.521801         Europe
4                              Angola     26.0           AO              47.5   1246700.0         117000.0      40.73        244.0                  Luanda        34693.0   261.73       17.1           AOA           5.52          46.3           0.97  9.463542e+10                            113.5                               9.3             51.6                   Luanda            60.8                   241.0         0.71              Portuguese                          33.4                   0.21  3.182530e+07                                77.5         9.2          49.1              6.89        21061025.0 -11.202692   17.873887         Africa
5                 Antigua and Barbuda    223.0           AG              20.5       443.0              0.0      15.33          1.0  St. John's, Saint John          557.0   113.81        1.2           XCD           1.99          22.3           0.99  1.727759e+09                            105.0                              24.8              5.0   St. John's, Saint John            76.9                    42.0         3.04                 English                          24.3                   2.76  9.711800e+04                                 NaN        16.5          43.0               NaN           23800.0  17.060816  -61.796428  North America
6                           Argentina     17.0           AR              54.3   2780400.0         105000.0      17.02         54.0            Buenos Aires       201348.0   232.75       53.5           ARS           2.26           9.8           1.10  4.496634e+11                            109.7                              90.0              8.8             Buenos Aires            76.5                    39.0         3.35                 Spanish                          17.6                   3.96  4.493871e+07                                61.3        10.1         106.3              9.79        41339571.0 -38.416097  -63.616672  South America
7                             Armenia    104.0           AM              58.9     29743.0          49000.0      13.99        374.0                 Yerevan         5156.0   129.18        1.4           AMD           1.76          11.7           0.77  1.367280e+10                             92.7                              54.6             11.0                  Yerevan            74.9                    26.0         0.66                Armenian                          81.6                   4.40  2.957731e+06                                55.6        20.9          22.6             16.99         1869848.0  40.069099   45.038189           Asia
8                           Australia      3.0           AU              48.2   7741220.0          58000.0      12.60         61.0                Canberra       375908.0   119.80        1.6           AUD           1.74          16.3           0.93  1.392681e+12                            100.3                             113.1              3.1                   Sydney            82.7                     6.0        13.59                     NaN                          19.6                   3.68  2.576660e+07                                65.5        23.0          47.4              5.27        21844756.0 -25.274398  133.775136        Oceania
9                             Austria    109.0           AT              32.4     83871.0          21000.0       9.70         43.0                  Vienna        61448.0   118.06        1.5           EUR           1.47          46.9           1.20  4.463147e+11                            103.1                              85.1              2.9                   Vienna            81.6                     5.0          NaN                  German                          17.9                   5.17  8.877067e+06                                60.7        25.4          51.4              4.67         5194416.0  47.516231   14.550072         Europe
10                         Azerbaijan    123.0           AZ              57.7     86600.0          82000.0      14.00        994.0                    Baku        37620.0   156.32        2.6           AZN           1.73          14.1           0.56  3.920700e+10                             99.7                              27.7             19.2                     Baku            72.9                    26.0         0.47    Azerbaijani language                          78.6                   3.45  1.002332e+07                                66.5        13.0          40.7              5.51         5616165.0  40.143105   47.576927           Asia
11                        The Bahamas     39.0           BS               1.4     13880.0           1000.0      13.97          1.0         Nassau, Bahamas         1786.0   116.22        2.5           NaN           1.75          51.4           0.92  1.282700e+10                             81.4                              15.1              8.3          Nassau, Bahamas            73.8                    70.0         5.25                 English                          27.8                   1.94  3.894820e+05                                74.6        14.8          33.8             10.36          323784.0  25.034280  -77.396280  North America
12                            Bahrain   2239.0           BH              11.1       765.0          19000.0      13.99        973.0                  Manama        31694.0   117.59        2.1           BHD           1.99           0.8           0.43  3.857407e+10                             99.4                              50.5              6.1                    Riffa            77.2                    14.0          NaN                  Arabic                          25.1                   0.93  1.501635e+06                                73.4         4.2          13.8              0.71         1467109.0  26.066700   50.557700           Asia
13                         Bangladesh   1265.0           BD              70.6    148460.0         221000.0      18.18        880.0                   Dhaka        84246.0   179.68        5.6           BDT           2.04          11.0           1.12  3.025713e+11                            116.5                              20.6             25.1                    Dhaka            72.3                   173.0         0.51                 Bengali                          71.8                   0.58  1.673108e+08                                59.0         8.8          33.4              4.19        60987417.0  23.684994   90.356331           Asia
14                           Barbados    668.0           BB              23.3       430.0           1000.0      10.65          1.0              Bridgetown         1276.0   134.09        4.1           BBD           1.62          14.7           1.81  5.209000e+09                             99.4                              65.4             11.3               Bridgetown            79.1                    27.0         3.13                 English                          45.2                   2.48  2.870250e+05                                65.2        27.5          35.6             10.33           89431.0  13.193887  -59.543198  North America
15                            Belarus     47.0           BY              42.0    207600.0         155000.0       9.90        375.0                   Minsk        58280.0      NaN        5.6           BYN           1.45          42.6           0.60  6.308046e+10                            100.5                              87.4              2.6                    Minsk            74.2                     2.0         1.49                 Russian                          34.5                   5.19  9.466856e+06                                64.1        14.7          53.3              4.59         7482982.0  53.709807   27.953389         Europe
16                            Belgium    383.0           BE              44.6     30528.0          32000.0      10.30         32.0        City of Brussels        96889.0   117.11        1.4           EUR           1.62          22.6           1.43  5.296067e+11                            103.9                              79.7              2.9                 Brussels            81.6                     5.0        10.31                  French                          17.6                   3.07  1.148406e+07                                53.6        24.0          55.4              5.59        11259082.0  50.503887    4.469936         Europe
17                             Belize     17.0           BZ               7.0     22966.0           2000.0      20.79        501.0                Belmopan          568.0   105.68       -0.9           BZD           2.31          59.7           1.13  1.879614e+09                            111.7                              24.7             11.2              Belize City            74.5                    36.0         1.65                 English                          22.7                   1.12  3.903530e+05                                65.1        26.3          31.1              6.41          179039.0  17.189877  -88.497650  North America
18                              Benin    108.0           BJ              33.3    112622.0          12000.0      36.22        229.0              Porto-Novo         6476.0   110.71       -0.9           XOF           4.84          37.8           0.72  1.439071e+10                            122.0                              12.3             60.5                  Cotonou            61.5                   397.0         0.39                  French                          40.5                   0.08  1.180115e+07                                70.9        10.8          48.9              2.23         5648149.0   9.307690    2.315834         Africa
19                             Bhutan     20.0           BT              13.6     38394.0           6000.0      17.26        975.0                 Thimphu         1261.0   167.18        2.7           NaN           1.98          72.5           0.98  2.446674e+09                            100.1                              15.6             24.8                  Thimphu            71.5                   183.0         0.32                Dzongkha                          19.8                   0.42  7.271450e+05                                66.7        16.0          35.3              2.34          317538.0  27.514162   90.433601           Asia
20                            Bolivia     11.0           BO              34.8   1098581.0          71000.0      21.75        591.0                   Sucre        21606.0   148.32        1.8           BOB           2.73          50.3           0.71  4.089532e+10                             98.2                               NaN             21.8  Santa Cruz de la Sierra            71.2                   155.0         1.36                 Spanish                          25.9                   1.59  1.151310e+07                                71.8        17.0          83.7              3.50         8033035.0 -16.290154  -63.588653  South America
21             Bosnia and Herzegovina     64.0           BA              43.1     51197.0          11000.0       8.11        387.0                Sarajevo        21848.0   104.90        0.6           BAM           1.27          42.7           1.05  2.004785e+10                              NaN                              23.3              5.0             Tuzla Canton            77.3                    10.0         1.04                 Bosnian                          28.6                   2.16  3.301000e+06                                46.4        20.4          23.7             18.42         1605144.0  43.915886   17.679076         Europe
22                           Botswana      4.0           BW              45.6    581730.0           9000.0      24.82        267.0                Gaborone         6340.0   149.75        2.8           BWP           2.87          18.9           0.71  1.834051e+10                            103.2                              24.9             30.0                 Gaborone            69.3                   144.0         0.29                 English                           5.3                   0.37  2.346179e+06                                70.8        19.5          25.1             18.19         1616550.0 -22.328474   24.684866         Africa
23                             Brazil     25.0           BR              33.9   8515770.0         730000.0      13.92         55.0                 Bras���       462299.0   167.40        3.7           BRL           1.73          58.9           1.02  1.839758e+12                            115.4                              51.3             12.8                    S����            75.7                    60.0         1.53              Portuguese                          28.3                   2.15  2.125594e+08                                63.9        14.2          65.1             12.08       183241641.0 -14.235004  -51.925280  South America
24                             Brunei     83.0           BN               2.7      5765.0           8000.0      14.90        673.0     Bandar Seri Begawan         7664.0    99.03       -0.4           BND           1.85          72.1           0.37  1.346942e+10                            103.2                              31.4              9.8                      NaN            75.7                    31.0          NaN                   Malay                           6.0                   1.61  4.332850e+05                                64.7         NaN           8.0              9.12          337711.0   4.535277  114.727669           Asia
25                           Bulgaria     64.0           BG              46.3    110879.0          31000.0       8.90        359.0                   Sofia        41708.0   114.42        3.1           BGN           1.56          35.4           1.11  8.600000e+10                             89.3                              71.0              5.9                    Sofia            74.9                    10.0         1.57               Bulgarian                          47.7                   4.03  6.975761e+06                                55.4        20.2          28.3              4.34         5256027.0  42.733883   25.485830         Europe
26                       Burkina Faso     76.0           BF              44.2    274200.0          11000.0      37.93        226.0             Ouagadougou         3418.0   106.58       -3.2           XOF           5.19          19.3           0.98  1.574581e+10                             96.1                               6.5             49.0              Ouagadougou            61.2                   320.0         0.34                  French                          36.1                   0.08  2.032138e+07                                66.4        15.0          41.3              6.26         6092349.0  12.238333   -1.561593         Africa
27                            Burundi    463.0           BI              79.2     27830.0          31000.0      39.01        257.0               Bujumbura          495.0   182.11       -0.7           BIF           5.41          10.9           1.21  3.012335e+09                            121.4                               6.1             41.0                Bujumbura            61.2                   548.0          NaN                 Kirundi                          19.1                   0.10  1.153058e+07                                79.2        13.6          41.2              1.43         1541177.0  -3.373056   29.918886         Africa
28                        Ivory Coast     83.0           CI              64.8    322463.0          27000.0      35.74        225.0            Yamoussoukro         9674.0   111.61       -0.9           XOF           4.65          32.7           0.93  5.879221e+10                             99.8                               9.3             59.4                  Abidjan            57.4                   617.0         0.36                  French                          36.0                   0.23  2.571654e+07                                57.0        11.8          50.1              3.32        13176900.0   7.539989   -5.547080         Africa

In [3]:
# Calculamos el porcentaje de nulos que tenemos para cada columna
(df.isnull().sum() / df.shape[0]) * 100

# Lo convertimos a DataFrame con porcentaje de nulos 
df_nulos = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])

# filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
df_nulos[df_nulos["%_nulos"] > 0]

                                      %_nulos
abbreviation                         3.608247
agriculturalland                     3.608247
landarea                             0.515464
armedforcessize                     12.371134
birthrate                            3.092784
callingcode                          0.515464
capital/majorcity                    1.546392
co2-emissions                        3.608247
cpi                                  8.762887
cpichange                            8.247423
currency-code                        7.731959
fertilityrate                        3.608247
forestedarea                         3.608247
gasolineprice                        9.793814
gdp                                  1.030928
grossprimaryeducationenrollment      3.608247
grosstertiaryeducationenrollment     6.185567
infantmortality                      3.092784
largestcity                          3.092784
lifeexpectancy                       4.123711
maternalmortalityratio               7.216495
minimumwage                         22.680412
officiallanguage                     2.061856
outofpockethealthexpenditure         3.608247
physiciansperthousand                3.608247
population                           0.515464
population:laborforceparticipation   9.793814
taxrevenue                          13.402062
totaltaxrate                         6.185567
unemploymentrate                     9.793814
urban_population                     2.577320

In [4]:
# Obtenemos la lista de columnas categóricas que tienen nulos: 
nulos_cat = df[df.columns[df.isnull().any()]].select_dtypes(include = "O").columns
print("Las columnas categóricas que tienen nulos son : \n ")
print(nulos_cat)

Las columnas categóricas que tienen nulos son :

Index(['abbreviation', 'capital/majorcity', 'currency-code', 'largestcity',
       'officiallanguage'],
      dtype='object')

In [5]:
# sacamos el 'value_counts()' de cada una de las columnas categóricas que tienen nulos para saber como es la distribución de sus categorías
for col in nulos_cat:
    print(f"La distribución de las categorías para la columna {col.upper()}")
    display(df[col].value_counts() / df.shape[0])
    print("........................")

La distribución de las categorías para la columna ABBREVIATION

abbreviation
AF    0.005155
PG    0.005155
NI    0.005155
NE    0.005155
NG    0.005155
        ...
GR    0.005155
GD    0.005155
GT    0.005155
GN    0.005155
ZW    0.005155
Name: count, Length: 187, dtype: float64

........................
La distribución de las categorías para la columna CAPITAL/MAJORCITY

capital/majorcity
Kabul                    0.005155
Ngerulmud                0.005155
Wellington               0.005155
Managua                  0.005155
Niamey                   0.005155
                           ...
Athens                   0.005155
St. George's, Grenada    0.005155
Guatemala City           0.005155
Conakry                  0.005155
Harare                   0.005155
Name: count, Length: 191, dtype: float64

........................
La distribución de las categorías para la columna CURRENCY-CODE

currency-code
EUR    0.118557
XOF    0.041237
USD    0.030928
XCD    0.030928
XAF    0.025773
         ...
GMD    0.005155
FJD    0.005155
ETB    0.005155
ERN    0.005155
ZMW    0.005155
Name: count, Length: 132, dtype: float64

........................
La distribución de las categorías para la columna LARGESTCITY

largestcity
Kabul                    0.005155
Panama City              0.005155
Managua                  0.005155
Niamey                   0.005155
Lagos                    0.005155
                           ...
Accra                    0.005155
Macedonia                0.005155
St. George's, Grenada    0.005155
Guatemala City           0.005155
Harare                   0.005155
Name: count, Length: 188, dtype: float64

........................
La distribución de las categorías para la columna OFFICIALLANGUAGE

officiallanguage
English             0.159794
French              0.128866
Spanish             0.097938
Arabic              0.092784
Portuguese          0.036082
                      ...
Albanian            0.005155
Jamaican English    0.005155
Lao                 0.005155
Latvian             0.005155
Shona               0.005155
Name: count, Length: 76, dtype: float64

........................

In [6]:
# Obtenemos la lista de columnas numéricas que tienen nulos
nulos_num = df[df.columns[df.isnull().any()]].select_dtypes(include = np.number).columns
print("Las columnas numéricas que tienen nulos son : \n ")
print(nulos_num)

Las columnas numéricas que tienen nulos son :

Index(['agriculturalland', 'landarea', 'armedforcessize', 'birthrate',
       'callingcode', 'co2-emissions', 'cpi', 'cpichange', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'lifeexpectancy', 'maternalmortalityratio',
       'minimumwage', 'outofpockethealthexpenditure', 'physiciansperthousand',
       'population', 'population:laborforceparticipation', 'taxrevenue',
       'totaltaxrate', 'unemploymentrate', 'urban_population'],
      dtype='object')

In [7]:
# lo primero que vamos a hacer es calcular el número de nulos que tenemos en cada una de las columnas numericas
df[nulos_num].isnull().sum() / df.shape[0]

agriculturalland                      0.036082
landarea                              0.005155
armedforcessize                       0.123711
birthrate                             0.030928
callingcode                           0.005155
co2-emissions                         0.036082
cpi                                   0.087629
cpichange                             0.082474
fertilityrate                         0.036082
forestedarea                          0.036082
gasolineprice                         0.097938
gdp                                   0.010309
grossprimaryeducationenrollment       0.036082
grosstertiaryeducationenrollment      0.061856
infantmortality                       0.030928
lifeexpectancy                        0.041237
maternalmortalityratio                0.072165
minimumwage                           0.226804
outofpockethealthexpenditure          0.036082
physiciansperthousand                 0.036082
population                            0.005155
population:laborforceparticipation    0.097938
taxrevenue                            0.134021
totaltaxrate                          0.061856
unemploymentrate                      0.097938
urban_population                      0.025773
dtype: float64


2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.


3. Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.


4. Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.