In [2]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración

# Pair programming Nulos

## Ejercicios gestión de nulos

En este pair programming usaremos el csv que generamos en el pair programming de ayer. El objetivo del ejercicio es identificar las columnas que contienen valores nulos y aplicar un proceso de imputación para manejarlos de manera adecuada.

Instrucciones:

1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [14]:
# cargamos el dataframe creado en la lección anterior
df = pd.read_csv("./df_world2.csv" ,index_col = 0)
df.head()

,Unnamed: 0.1,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,outofpockethealthexpenditure,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,...,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,...,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,...,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,...,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,...,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

In [15]:
print(df.to_string())

     Unnamed: 0.1                           country density abbreviation  agriculturalland    landarea armedforcessize  birthrate  callingcode       capital/majorcity co2-emissions       cpi  cpichange currency-code  fertilityrate  forestedarea  gasolineprice                  gdp  grossprimaryeducationenrollment  grosstertiaryeducationenrollment  infantmortality              largestcity  lifeexpectancy  maternalmortalityratio  minimumwage        officiallanguage  outofpockethealthexpenditure  physiciansperthousand     population  population:laborforceparticipation  taxrevenue  totaltaxrate  unemploymentrate urban_population      latitud    longitud
0               0                       Afghanistan      60           AF              58.1     652,230         323,000      32.49         93.0                   Kabul         8,672     149.9        2.3           AFN           4.47           2.1           0.70      19,101,353,833                             104.0                               9.7             47.9                    Kabul            64.5                   638.0         0.43                  Pashto                          78.4                   0.28     38,041,754                                48.9         9.3          71.4             11.12        9,797,273    33.93911    67.709953
1               1                           Albania     105           AL              43.1      28,748           9,000      11.78        355.0                  Tirana         4,536    119.05        1.4           ALL           1.62          28.1           1.36      15,278,077,447                             107.0                              55.0              7.8                   Tirana            78.5                    15.0         1.12                Albanian                          56.9                   1.20      2,854,191                                55.7        18.6          36.6             12.33        1,747,593   41.153332    20.168331
2               2                           Algeria      18           DZ              17.4   2,381,741         317,000      24.28        213.0                 Algiers       150,006    151.36        2.0           DZD           3.02           0.8           0.28     169,988,236,398                             109.9                              51.4             20.1                  Algiers            76.7                   112.0         0.95                  Arabic                          28.1                   1.72     43,053,054                                41.2        37.2          66.1             11.70       31,510,100   28.033886     1.659626
3               3                           Andorra     164           AD              40.0         468             NaN       7.20        376.0        Andorra la Vella           469       NaN        NaN           EUR           1.27          34.0           1.51       3,154,057,987                             106.4                               NaN              2.7         Andorra la Vella             NaN                     NaN         6.63                 Catalan                          36.4                   3.33         77,142                                 NaN         NaN           NaN               NaN           67,873   42.506285     1.521801
4               4                            Angola      26           AO              47.5   1,246,700         117,000      40.73        244.0                  Luanda        34,693    261.73       17.1           AOA           5.52          46.3           0.97      94,635,415,870                             113.5                               9.3             51.6                   Luanda            60.8                   241.0         0.71              Portuguese                          33.4                   0.21     31,825,295                                77.5         9.2          49.1              6.89       21,061,025  -11.202692    17.873887
5               5               Antigua and Barbuda     223           AG              20.5         443               0      15.33          1.0  St. John's, Saint John           557    113.81        1.2           XCD           1.99          22.3           0.99       1,727,759,259                             105.0                              24.8              5.0   St. John's, Saint John            76.9                    42.0         3.04                 English                          24.3                   2.76         97,118                                 NaN        16.5          43.0               NaN           23,800   17.060816   -61.796428
6               6                         Argentina      17           AR              54.3   2,780,400         105,000      17.02         54.0            Buenos Aires       201,348    232.75       53.5           ARS           2.26           9.8           1.10     449,663,446,954                             109.7                              90.0              8.8             Buenos Aires            76.5                    39.0         3.35                 Spanish                          17.6                   3.96     44,938,712                                61.3        10.1         106.3              9.79       41,339,571  -38.416097   -63.616672
7               7                           Armenia     104           AM              58.9      29,743          49,000      13.99        374.0                 Yerevan         5,156    129.18        1.4           AMD           1.76          11.7           0.77      13,672,802,158                              92.7                              54.6             11.0                  Yerevan            74.9                    26.0         0.66                Armenian                          81.6                   4.40      2,957,731                                55.6        20.9          22.6             16.99        1,869,848   40.069099    45.038189
8               8                         Australia       3           AU              48.2   7,741,220          58,000      12.60         61.0                Canberra       375,908     119.8        1.6           AUD           1.74          16.3           0.93   1,392,680,589,329                             100.3                             113.1              3.1                   Sydney            82.7                     6.0        13.59                     NaN                          19.6                   3.68     25,766,605                                65.5        23.0          47.4              5.27       21,844,756  -25.274398   133.775136
9               9                           Austria     109           AT              32.4      83,871          21,000       9.70         43.0                  Vienna        61,448    118.06        1.5           EUR           1.47          46.9           1.20     446,314,739,528                             103.1                              85.1              2.9                   Vienna            81.6                     5.0          NaN                  German                          17.9                   5.17      8,877,067                                60.7        25.4          51.4              4.67        5,194,416   47.516231    14.550072
10             10                        Azerbaijan     123           AZ              57.7      86,600          82,000      14.00        994.0                    Baku        37,620    156.32        2.6           AZN           1.73          14.1           0.56      39,207,000,000                              99.7                              27.7             19.2                     Baku            72.9                    26.0         0.47    Azerbaijani language                          78.6                   3.45     10,023,318                                66.5        13.0          40.7              5.51        5,616,165   40.143105    47.576927
11             11                       The Bahamas      39           BS               1.4      13,880           1,000      13.97          1.0         Nassau, Bahamas         1,786    116.22        2.5           NaN           1.75          51.4           0.92      12,827,000,000                              81.4                              15.1              8.3          Nassau, Bahamas            73.8                    70.0         5.25                 English                          27.8                   1.94        389,482                                74.6        14.8          33.8             10.36          323,784    25.03428   -77.396280
12             12                           Bahrain   2,239           BH              11.1         765          19,000      13.99        973.0                  Manama        31,694    117.59        2.1           BHD           1.99           0.8           0.43      38,574,069,149                              99.4                              50.5              6.1                    Riffa            77.2                    14.0          NaN                  Arabic                          25.1                   0.93      1,501,635                                73.4         4.2          13.8              0.71        1,467,109     26.0667    50.557700
13             13                        Bangladesh   1,265           BD              70.6     148,460         221,000      18.18        880.0                   Dhaka        84,246    179.68        5.6           BDT           2.04          11.0           1.12     302,571,254,131                             116.5                              20.6             25.1                    Dhaka            72.3                   173.0         0.51                 Bengali                          71.8                   0.58    167,310,838                                59.0         8.8          33.4              4.19       60,987,417   23.684994    90.356331
14             14                          Barbados     668           BB              23.3         430           1,000      10.65          1.0              Bridgetown         1,276    134.09        4.1           BBD           1.62          14.7           1.81       5,209,000,000                              99.4                              65.4             11.3               Bridgetown            79.1                    27.0         3.13                 English                          45.2                   2.48        287,025                                65.2        27.5          35.6             10.33           89,431   13.193887   -59.543198
15             15                           Belarus      47           BY              42.0     207,600         155,000       9.90        375.0                   Minsk        58,280       NaN        5.6           BYN           1.45          42.6           0.60      63,080,457,023                             100.5                              87.4              2.6                    Minsk            74.2                     2.0         1.49                 Russian                          34.5                   5.19      9,466,856                                64.1        14.7          53.3              4.59        7,482,982   53.709807    27.953389
16             16                           Belgium     383           BE              44.6      30,528          32,000      10.30         32.0        City of Brussels        96,889    117.11        1.4           EUR           1.62          22.6           1.43     529,606,710,418                             103.9                              79.7              2.9                 Brussels            81.6                     5.0        10.31                  French                          17.6                   3.07     11,484,055                                53.6        24.0          55.4              5.59       11,259,082   50.503887     4.469936
17             17                            Belize      17           BZ               7.0      22,966           2,000      20.79        501.0                Belmopan           568    105.68       -0.9           BZD           2.31          59.7           1.13       1,879,613,600                             111.7                              24.7             11.2              Belize City            74.5                    36.0         1.65                 English                          22.7                   1.12        390,353                                65.1        26.3          31.1              6.41          179,039   17.189877   -88.497650
18             18                             Benin     108           BJ              33.3     112,622          12,000      36.22        229.0              Porto-Novo         6,476    110.71       -0.9           XOF           4.84          37.8           0.72      14,390,709,095                             122.0                              12.3             60.5                  Cotonou            61.5                   397.0         0.39                  French                          40.5                   0.08     11,801,151                                70.9        10.8          48.9              2.23        5,648,149     9.30769     2.315834
19             19                            Bhutan      20           BT              13.6      38,394           6,000      17.26        975.0                 Thimphu         1,261    167.18        2.7           NaN           1.98          72.5           0.98       2,446,674,101                             100.1                              15.6             24.8                  Thimphu            71.5                   183.0         0.32                Dzongkha                          19.8                   0.42        727,145                                66.7        16.0          35.3              2.34          317,538   27.514162    90.433601
20             20                           Bolivia      11           BO              34.8   1,098,581          71,000      21.75        591.0                   Sucre        21,606    148.32        1.8           BOB           2.73          50.3           0.71      40,895,322,865                              98.2                               NaN             21.8  Santa Cruz de la Sierra            71.2                   155.0         1.36                 Spanish                          25.9                   1.59     11,513,100                                71.8        17.0          83.7              3.50        8,033,035  -16.290154   -63.588653
21             21            Bosnia and Herzegovina      64           BA              43.1      51,197          11,000       8.11        387.0                Sarajevo        21,848     104.9        0.6           BAM           1.27          42.7           1.05      20,047,848,435                               NaN                              23.3              5.0             Tuzla Canton            77.3                    10.0         1.04                 Bosnian                          28.6                   2.16      3,301,000                                46.4        20.4          23.7             18.42        1,605,144   43.915886    17.679076
22             22                          Botswana       4           BW              45.6     581,730           9,000      24.82        267.0                Gaborone         6,340    149.75        2.8           BWP           2.87          18.9           0.71      18,340,510,789                             103.2                              24.9             30.0                 Gaborone            69.3                   144.0         0.29                 English                           5.3                   0.37      2,346,179                                70.8        19.5          25.1             18.19        1,616,550  -22.328474    24.684866
23             23                            Brazil      25           BR              33.9   8,515,770         730,000      13.92         55.0                 Bras���       462,299     167.4        3.7           BRL           1.73          58.9           1.02   1,839,758,040,766                             115.4                              51.3             12.8                    S����            75.7                    60.0         1.53              Portuguese                          28.3                   2.15    212,559,417                                63.9        14.2          65.1             12.08      183,241,641  -14.235004   -51.925280
24             24                            Brunei      83           BN               2.7       5,765           8,000      14.90        673.0     Bandar Seri Begawan         7,664     99.03       -0.4           BND           1.85          72.1           0.37      13,469,422,941                             103.2                              31.4              9.8                      NaN            75.7                    31.0          NaN                   Malay                           6.0                   1.61        433,285                                64.7         NaN           8.0              9.12          337,711    4.535277   114.727669
25             25                          Bulgaria      64           BG              46.3     110,879          31,000       8.90        359.0                   Sofia        41,708    114.42        3.1           BGN           1.56          35.4           1.11      86,000,000,000                              89.3                              71.0              5.9                    Sofia            74.9                    10.0         1.57               Bulgarian                          47.7                   4.03      6,975,761                                55.4        20.2          28.3              4.34        5,256,027   42.733883    25.485830
26             26                      Burkina Faso      76           BF              44.2     274,200          11,000      37.93        226.0             Ouagadougou         3,418    106.58       -3.2           XOF           5.19          19.3           0.98      15,745,810,235                              96.1                               6.5             49.0              Ouagadougou            61.2                   320.0         0.34                  French                          36.1                   0.08     20,321,378                                66.4        15.0          41.3              6.26        6,092,349   12.238333    -1.561593
27             27                           Burundi     463           BI              79.2      27,830          31,000      39.01        257.0               Bujumbura           495    182.11       -0.7           BIF           5.41          10.9           1.21       3,012,334,882                             121.4                               6.1             41.0                Bujumbura            61.2                   548.0          NaN                 Kirundi                          19.1                   0.10     11,530,580                                79.2        13.6          41.2              1.43        1,541,177   -3.373056    29.918886
28             28                       Ivory Coast      83           CI              64.8     322,463          27,000      35.74        225.0            Yamoussoukro         9,674    111.61       -0.9           XOF           4.65          32.7           0.93      58,792,205,642                              99.8                               9.3             59.4                  Abidjan            57.4                   617.0         0.36                  French                          36.0                   0.23     25,716,544                                57.0        11.8          50.1              3.32       13,176,900    7.539989    -5.547080

In [21]:
df.dtypes

Unnamed: 0.1                            int64
country                                object
density                                object
abbreviation                           object
agriculturalland                      float64
landarea                               object
armedforcessize                        object
birthrate                             float64
callingcode                           float64
capital/majorcity                      object
co2-emissions                          object
cpi                                    object
cpichange                             float64
currency-code                          object
fertilityrate                         float64
forestedarea                          float64
gasolineprice                         float64
gdp                                    object
grossprimaryeducationenrollment       float64
grosstertiaryeducationenrollment      float64
infantmortality                       float64
largestcity                            object
lifeexpectancy                        float64
maternalmortalityratio                float64
minimumwage                           float64
officiallanguage                       object
outofpockethealthexpenditure          float64
physiciansperthousand                 float64
population                             object
population:laborforceparticipation    float64
taxrevenue                            float64
totaltaxrate                          float64
unemploymentrate                      float64
urban_population                       object
latitud                                object
longitud                              float64
dtype: object

In [31]:
numericos = []
categoricos = []

for col in df.columns:
    if df.dtypes[col] == object:
        categoricos.append(col)
    else:
        numericos.append(col)

print("Columnas numéricas:", numericos)
print("Columnas categóricas:", categoricos)

Columnas numéricas: ['Unnamed: 0.1', 'agriculturalland', 'birthrate', 'callingcode', 'cpichange', 'fertilityrate', 'forestedarea', 'gasolineprice', 'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment', 'infantmortality', 'lifeexpectancy', 'maternalmortalityratio', 'minimumwage', 'outofpockethealthexpenditure', 'physiciansperthousand', 'population:laborforceparticipation', 'taxrevenue', 'totaltaxrate', 'unemploymentrate', 'longitud']
Columnas categóricas: ['country', 'density', 'abbreviation', 'landarea', 'armedforcessize', 'capital/majorcity', 'co2-emissions', 'cpi', 'currency-code', 'gdp', 'largestcity', 'officiallanguage', 'population', 'urban_population', 'latitud']

In [32]:
print(numericos)

['Unnamed: 0.1', 'agriculturalland', 'birthrate', 'callingcode', 'cpichange', 'fertilityrate', 'forestedarea', 'gasolineprice', 'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment', 'infantmortality', 'lifeexpectancy', 'maternalmortalityratio', 'minimumwage', 'outofpockethealthexpenditure', 'physiciansperthousand', 'population:laborforceparticipation', 'taxrevenue', 'totaltaxrate', 'unemploymentrate', 'longitud']

In [33]:
print("Columnas categóricas:", categoricos)

Columnas categóricas: ['country', 'density', 'abbreviation', 'landarea', 'armedforcessize', 'capital/majorcity', 'co2-emissions', 'cpi', 'currency-code', 'gdp', 'largestcity', 'officiallanguage', 'population', 'urban_population', 'latitud']

In [11]:
# lo convertimos a DataFrame
df_nulos_ba = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])

# filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
df_nulos_ba[df_nulos_ba["%_nulos"] > 0]

                                      %_nulos
abbreviation                         3.589744
agriculturalland                     3.589744
landarea                             0.512821
armedforcessize                     12.307692
birthrate                            3.076923
callingcode                          0.512821
capital/majorcity                    1.538462
co2-emissions                        3.589744
cpi                                  8.717949
cpichange                            8.205128
currency-code                        7.692308
fertilityrate                        3.589744
forestedarea                         3.589744
gasolineprice                       10.256410
gdp                                  1.025641
grossprimaryeducationenrollment      3.589744
grosstertiaryeducationenrollment     6.153846
infantmortality                      3.076923
largestcity                          3.076923
lifeexpectancy                       4.102564
maternalmortalityratio               7.179487
minimumwage                         23.076923
officiallanguage                     2.564103
outofpockethealthexpenditure         3.589744
physiciansperthousand                3.589744
population                           0.512821
population:laborforceparticipation   9.743590
taxrevenue                          13.333333
totaltaxrate                         6.153846
unemploymentrate                     9.743590
urban_population                     2.564103
longitud                             0.512821

In [38]:
df_nume= df[['Unnamed: 0.1', 'agriculturalland', 'birthrate', 'callingcode', 'cpichange', 'fertilityrate', 'forestedarea', 'gasolineprice', 'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment', 'infantmortality', 'lifeexpectancy', 'maternalmortalityratio', 'minimumwage', 'outofpockethealthexpenditure', 'physiciansperthousand', 'population:laborforceparticipation', 'taxrevenue', 'totaltaxrate', 'unemploymentrate', 'longitud']]

In [39]:
df_nume

,Unnamed: 0.1,agriculturalland,birthrate,callingcode,cpichange,fertilityrate,forestedarea,gasolineprice,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,...,lifeexpectancy,maternalmortalityratio,minimumwage,outofpockethealthexpenditure,physiciansperthousand,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,longitud
0,0,58.1,32.49,93.0,2.3,4.47,2.1,0.70,104.0,9.7,...,64.5,638.0,0.43,78.4,0.28,48.9,9.3,71.4,11.12,67.709953
1,1,43.1,11.78,355.0,1.4,1.62,28.1,1.36,107.0,55.0,...,78.5,15.0,1.12,56.9,1.20,55.7,18.6,36.6,12.33,20.168331
2,2,17.4,24.28,213.0,2.0,3.02,0.8,0.28,109.9,51.4,...,76.7,112.0,0.95,28.1,1.72,41.2,37.2,66.1,11.70,1.659626
3,3,40.0,7.20,376.0,NaN,1.27,34.0,1.51,106.4,NaN,...,NaN,NaN,6.63,36.4,3.33,NaN,NaN,NaN,NaN,1.521801
4,4,47.5,40.73,244.0,17.1,5.52,46.3,0.97,113.5,9.3,...,60.8,241.0,0.71,33.4,0.21,77.5,9.2,49.1,6.89,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,24.5,17.88,58.0,254.9,2.27,52.7,0.00,97.2,79.3,...,72.1,125.0,0.01,45.8,1.92,59.7,NaN,73.3,8.80,-66.589730
191,191,39.3,16.75,84.0,2.8,2.05,48.1,0.80,110.6,28.5,...,75.3,43.0,0.73,43.5,0.82,77.4,19.1,37.6,2.01,108.277199
192,192,44.6,30.45,967.0,8.1,3.79,1.0,0.92,93.6,10.2,...,66.1,164.0,NaN,81.0,0.31,38.0,NaN,26.6,12.91,48.516388
193,193,32.1,36.19,260.0,9.2,4.63,65.2,1.40,98.7,4.1,...,63.5,213.0,0.24,27.5,1.19,74.6,16.2,15.6,11.43,27.849332
194,194,41.9,30.68,263.0,0.9,3.62,35.5,1.34,109.9,10.0,...,61.2,458.0,NaN,25.8,0.21,83.1,20.7,31.6,4.95,29.154857

In [44]:
(df_nume.isnull().sum() / df_nume.shape[0]) * 100

Unnamed: 0.1                           0.000000
agriculturalland                       3.589744
birthrate                              3.076923
callingcode                            0.512821
cpichange                              8.205128
fertilityrate                          3.589744
forestedarea                           3.589744
gasolineprice                         10.256410
grossprimaryeducationenrollment        3.589744
grosstertiaryeducationenrollment       6.153846
infantmortality                        3.076923
lifeexpectancy                         4.102564
maternalmortalityratio                 7.179487
minimumwage                           23.076923
outofpockethealthexpenditure           3.589744
physiciansperthousand                  3.589744
population:laborforceparticipation     9.743590
taxrevenue                            13.333333
totaltaxrate                           6.153846
unemploymentrate                       9.743590
longitud                               0.512821
dtype: float64

In [40]:
df_nume.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0.1,195.0,97.000000,56.435804,0.000000,48.500000,97.000000,145.500000,194.000000
agriculturalland,188.0,39.117553,21.783052,0.600000,21.700000,39.600000,55.375000,82.600000
birthrate,189.0,20.214974,9.945774,5.900000,11.300000,17.950000,28.750000,46.080000
callingcode,194.0,360.546392,323.236419,1.000000,82.500000,255.500000,506.750000,1876.000000
cpichange,179.0,6.722346,24.450414,-4.300000,1.000000,2.300000,4.250000,254.900000
fertilityrate,188.0,2.698138,1.282267,0.980000,1.705000,2.245000,3.597500,6.910000
forestedarea,188.0,32.015426,23.791331,0.000000,11.000000,32.000000,48.175000,98.300000
gasolineprice,175.0,1.002457,0.368858,0.000000,0.755000,0.980000,1.240000,2.000000
grossprimaryeducationenrollment,188.0,102.470213,13.151607,23.400000,98.950000,102.550000,108.025000,142.500000
grosstertiaryeducationenrollment,183.0,37.963388,29.261022,0.800000,12.150000,31.200000,63.150000,136.600000
infantmortality,189.0,21.332804,19.548058,1.400000,6.000000,14.000000,32.700000,84.500000
lifeexpectancy,187.0,72.279679,7.483661,52.800000,67.000000,73.200000,77.500000,85.400000
maternalmortalityratio,181.0,160.392265,233.502024,2.000000,13.000000,53.000000,186.000000,1150.000000
minimumwage,150.0,2.194133,2.970796,0.010000,0.402500,1.045000,2.447500,13.590000
outofpockethealthexpenditure,188.0,32.637234,19.172697,0.200000,17.450000,30.700000,43.975000,81.600000
physiciansperthousand,188.0,1.839840,1.684261,0.010000,0.332500,1.460000,2.935000,8.420000
population:laborforceparticipation,176.0,62.738068,10.502907,38.000000,56.150000,62.450000,69.500000,86.800000
taxrevenue,169.0,16.573964,6.961632,0.000000,11.700000,16.300000,21.100000,37.200000
totaltaxrate,183.0,40.822404,20.557662,8.000000,30.600000,37.200000,48.000000,219.600000
unemploymentrate,176.0,6.886364,5.079216,0.090000,3.395000,5.360000,9.490000,28.180000
longitud,194.0,20.232434,66.716110,-175.198242,-7.941496,20.972652,48.281523,178.065032

In [12]:
# Obtenemos la lista de columnas categóricas que tienen nulos
nulos_esta_cat = df[df.columns[df.isnull().any()]].select_dtypes(include = "O").columns
print("Las columnas categóricas que tienen nulos son : \n ")
print(nulos_esta_cat)

Las columnas categóricas que tienen nulos son :

Index(['abbreviation', 'landarea', 'armedforcessize', 'capital/majorcity',
       'co2-emissions', 'cpi', 'currency-code', 'gdp', 'largestcity',
       'officiallanguage', 'population', 'urban_population'],
      dtype='object')

In [47]:
categoricos

['country',
 'density',
 'abbreviation',
 'landarea',
 'armedforcessize',
 'capital/majorcity',
 'co2-emissions',
 'cpi',
 'currency-code',
 'gdp',
 'largestcity',
 'officiallanguage',
 'population',
 'urban_population',
 'latitud']

In [13]:
# sacamos el 'value_counts()' de cada una de las columnas categóricas que tienen nulos para saber como es la distribución de sus categorías
for col in nulos_esta_cat:
    print(f"La distribución de las categorías para la columna {col.upper()}")
    display(df[col].value_counts() / df.shape[0])
    print("........................")

La distribución de las categorías para la columna ABBREVIATION

AF    0.005128
PY    0.005128
NE    0.005128
NG    0.005128
KP    0.005128
        ...
GR    0.005128
GD    0.005128
GT    0.005128
GN    0.005128
ZW    0.005128
Name: abbreviation, Length: 188, dtype: float64

........................
La distribución de las categorías para la columna LANDAREA

652,230      0.005128
616          0.005128
268,838      0.005128
130,370      0.005128
1,267,000    0.005128
               ...
349          0.005128
108,889      0.005128
245,857      0.005128
36,125       0.005128
390,757      0.005128
Name: landarea, Length: 194, dtype: float64

........................
La distribución de las categorías para la columna ARMEDFORCESSIZE

2,000        0.035897
1,000        0.030769
16,000       0.025641
9,000        0.025641
4,000        0.025641
               ...
3,031,000    0.005128
43,000       0.005128
146,000      0.005128
180,000      0.005128
51,000       0.005128
Name: armedforcessize, Length: 105, dtype: float64

........................
La distribución de las categorías para la columna CAPITAL/MAJORCITY

Kabul                    0.005128
Tirana                   0.005128
Wellington               0.005128
Managua                  0.005128
Niamey                   0.005128
                           ...
Athens                   0.005128
St. George's, Grenada    0.005128
Guatemala City           0.005128
Conakry                  0.005128
Harare                   0.005128
Name: capital/majorcity, Length: 192, dtype: float64

........................
La distribución de las categorías para la columna CO2-EMISSIONS

143       0.010256
495       0.010256
28,284    0.010256
2,017     0.010256
7,407     0.005128
            ...
16,670    0.005128
62,434    0.005128
268       0.005128
16,777    0.005128
10,983    0.005128
Name: co2-emissions, Length: 184, dtype: float64

........................
La distribución de las categorías para la columna CPI

110.62    0.010256
99.55     0.010256
106.58    0.010256
149.9     0.005128
114.24    0.005128
            ...
112.85    0.005128
268.36    0.005128
101.87    0.005128
107.43    0.005128
105.51    0.005128
Name: cpi, Length: 175, dtype: float64

........................
La distribución de las categorías para la columna CURRENCY-CODE

EUR    0.117949
XOF    0.041026
XCD    0.030769
USD    0.030769
XAF    0.025641
         ...
GMD    0.005128
FJD    0.005128
ETB    0.005128
ERN    0.005128
ZMW    0.005128
Name: currency-code, Length: 133, dtype: float64

........................
La distribución de las categorías para la columna GDP

19,101,353,833      0.005128
6,552,858,739       0.005128
12,520,915,291      0.005128
12,928,145,120      0.005128
448,120,428,859     0.005128
                      ...
1,228,170,370       0.005128
76,710,385,880      0.005128
13,590,281,809      0.005128
1,340,389,411       0.005128
21,440,758,800      0.005128
Name: gdp, Length: 193, dtype: float64

........................
La distribución de las categorías para la columna LARGESTCITY

S����                    0.010256
Panama City              0.005128
Managua                  0.005128
Niamey                   0.005128
Lagos                    0.005128
                           ...
Macedonia                0.005128
St. George's, Grenada    0.005128
Guatemala City           0.005128
Kankan                   0.005128
Harare                   0.005128
Name: largestcity, Length: 188, dtype: float64

........................
La distribución de las categorías para la columna OFFICIALLANGUAGE

English             0.158974
French              0.128205
Spanish             0.097436
Arabic              0.092308
Portuguese          0.035897
                      ...
Albanian            0.005128
Jamaican English    0.005128
Lao                 0.005128
Latvian             0.005128
Shona               0.005128
Name: officiallanguage, Length: 76, dtype: float64

........................
La distribución de las categorías para la columna POPULATION

38,041,754    0.005128
182,790       0.005128
4,841,000     0.005128
6,545,502     0.005128
23,310,715    0.005128
                ...
112,003       0.005128
16,604,026    0.005128
12,771,246    0.005128
1,920,922     0.005128
14,645,468    0.005128
Name: population, Length: 194, dtype: float64

........................
La distribución de las categorías para la columna URBAN_POPULATION

9,797,273      0.005128
1,162,834      0.005128
3,846,137      0.005128
3,850,231      0.005128
102,806,948    0.005128
                 ...
8,507,474      0.005128
40,765         0.005128
8,540,945      0.005128
4,661,505      0.005128
4,717,305      0.005128
Name: urban_population, Length: 190, dtype: float64

........................


2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

In [ ]:
 Obtenemos la lista de columnas categóricas que tienen nulos
nulos_esta_cat = df[df.columns[df.isnull().any()]].select_dtypes(include = "O").columns
print("Las columnas categóricas que tienen nulos son : \n ")
print(nulos_esta_cat)
# sacamos el 'value_counts()' de cada una de las columnas categóricas que tienen nulos para saber como es la distribución de sus categorías
for col in nulos_esta_cat:
    print(f"La distribución de las categorías para la columna {col.upper()}")
    display(df[col].value_counts() / df.shape[0])

In [46]:
columnas_media = df_nume[["gasolineprice","minimumwage"]]
# iteramos por la lista creada en el paso anterior:
for columna in columnas_media:
    
    # calculamos la moda para la columna por la que estamos iterando
    media = df_nume[columna].mean()[0]    
    
    # utilizando el método fillna reemplazamos los valores nulos por la moda calculada en el paso anterior. 
    df_nume[columna] = df_nume[columna].fillna(media)
# por último chequeamos si se han eliminado los nulos en las columnas de "marital" y "loan"
print("Después del reemplazo usando 'fillna' quedan los siguientes nulos")
df_nume[columnas_media].isnull().sum()

TypeError: 'float' object is not subscriptable

In [ ]:
media = df_nume[col].mean()[0]

df_nume[columna] = df_mume[columna].fillna(moda)


3. Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.


4. Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.